/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------- FONT STYLING ------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
h1{
   font-family: "Roboto", sans-serif; 
   font-weight: 700;
   font-size: 12em; 
   color: white;
   letter-spacing: 0.1em;
}
h2{
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 16px;  
}
h3{
   font-family: "Roboto", sans-serif; 
   font-weight: 500;
   font-size: 16px;
}

html{
    font-family: "Roboto", sans-serif; 
    font-weight: 400; 
}

/* ------------------------------ DESKTOP NAV ------------------------------ */
header{
    margin: 1% 5% 1% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.body-content{
    margin: 0% 10% 0% 10%;
}

a{
    text-decoration: none;
}

.flex1{
    margin-bottom: 1%;
}

.flex1 img{
    width: 30%;
    flex-basis: 100%;
    justify-items: center;
}

.flex1:nth-child(1){
    margin-left: 40.5%;
    flex-basis: 100%;
}

/* ------------------------------- BANNER ----------------------------------- */
.background-image img{
    width: 100%;
}

.banner{
    position: relative;
    text-align: center;
    color: white;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------- ABOUT ME HOME --------------------------- */
.about-me-home{
    display: flex; 
}
.about-me-home img{
    width: 20em;
}

/* .flex2 h2{
   align-items: center;
    padding: 0% 0% 5% 30%;
} */

.flex2:nth-child(1){
    padding: 20% 0% 0% 0%;
}

/* ------------------------------ FOOTER ------------------------------------ */
footer{
    display: flex;
    margin: 1% 5% 1% 5%;
    justify-content: space-between;
}
