/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------- FONT STYLING ------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
h1{
   font-family: "Roboto", sans-serif; 
   font-weight: 700;
   font-size: 12em; 
   color: white;
   letter-spacing: 0.1em;
}
h2{
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 16px; 
    color: #404040; 
}
h3{
   font-family: "Roboto", sans-serif; 
   font-weight: 500;
   font-size: 16px;
   color: #404040;
}

h4{
   font-family: "Roboto", sans-serif; 
   font-weight: 700;
   font-size: 8em; 
   color: white;
   letter-spacing: 0.1em;
}

h5{
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 16px; 
    color: #404040; 
}

html{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    background-color: #c9e3b6;
    color: #404040;
}

p{
    line-height: 160%;
    color: #404040;
}

/* ------------------------------ DESKTOP NAV ------------------------------ */
header{
    padding: 1% 5% 1% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fdfae7;
}

.site-container{
    background-color: #fdfae7;
}

.body-content{
    margin: 0% 5% 0% 5%;
    padding: 0% 5% 2% 5%;
    background-color: #fdfae7;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

.flex1{
    margin-bottom: 1%;
}

.flex1 img{
    width: 30%;
    flex-basis: 100%;
    justify-items: center;
}

.flex1:nth-child(1){
    margin-left: 40.5%;
    flex-basis: 100%;
}

@media screen and (max-width: 480px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex1 img{
        justify-self: center;
        width: 120px;
        margin-left: -65%;
    }

    .flex1{
        padding: 2% 0% 2% 0%;
    }
}

/* ------------------------------- BANNER ----------------------------------- */
.background-image img{
    width: 100%;
}

.banner{
    position: relative;
    text-align: center;
    color: white;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 780px){
    h1{
        font-family: "Roboto", sans-serif; 
        font-weight: 700;
        font-size: 8em; 
        color: white;
        letter-spacing: 0.1em;
    }

    h4{
        font-family: "Roboto", sans-serif; 
        font-weight: 700;
        font-size: 5em; 
        color: white;
        letter-spacing: 0.1em;
     }
}

@media screen and (max-width: 480px){
    h1{
        font-family: "Roboto", sans-serif; 
        font-weight: 700;
        font-size: 4em; 
        color: white;
        letter-spacing: 0.1em;
    }

    h4{
        font-family: "Roboto", sans-serif; 
        font-weight: 700;
        font-size: 2.5em; 
        color: white;
        letter-spacing: 0.1em;
     }
}

/* --------------------------------- HOME MY WORK ------------------------------- */
.block{
    width: 100%;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2%;
}

.grid1 .block:nth-child(1){
    width: 98%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid1 .block:nth-child(2){
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid1 .block:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}

.grid1 .block:nth-child(4){
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
}

.body-content h2{
    text-align: center;
    padding: 3% 0% 3% 0%;
}

/* -------------------------------- ABOUT ME ------------------------------- */
.about-me-home{
    width: 80%;
    display: flex; 
}
.about-me-home img{
    width: 300%;
}

.flex2 h5{
   margin-left: 35%;
   padding-bottom: 5%;
}

.flex2:nth-child(1){
    padding: 15% 0% 0% 0%;
    line-height: 120%; 
}

/* ------------------------------- MY WORK ---------------------------------- */
.photography{
    display: flex;
    justify-content: space-between;
}
.videography{
    display: flex;
    justify-content: space-between;
}
.digital-graphics{
    display: flex;
    justify-content: space-between;
}
.coding{
    display: flex;
    justify-content: space-between;
}

.flex3{
    width: 30%;
}

/* ------------------------------ CONTACT ------------------------------------ */
.spacing h5{
   padding: 2% 0% 2% 0%;
}

form{
    width: 100%;
}

.email, .name, .message{
    width: 100%;
    font-weight: 700;
}

.send{
    background-color: #c9e3b6;
    color: #404040;
    border: solid 1px #404040;
    width: 25%;
    padding: 10px 0px 10px 0px;
}

/* ------------------------------ FOOTER ------------------------------------ */
footer{
    display: flex;
    padding: 1% 5% 1% 5%;
    justify-content: space-between;
    background-color: #fdfae7;
}

.fa{
    color: rgb(158, 158, 158);
}

.flexfoot a{
    color: rgb(158, 158, 158);
}
.flexfoot:nth-child(1){
    font-size: 12px;
    color: rgb(158, 158, 158);
}

.flexfoot:nth-child(2){
    font-size: 12;
    color: rgb(158, 158, 158);
}